{% extends "base.html" %}
{% block title %}
Entry
{% endblock %}

{% block content %}
<style>
  #chat-box {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #FEEEDD;
    border-radius: 10px;
  }

  #title-message {
    display: flex;
    align-items: center;
  }

  #title-message input {
    width: 100%;
    resize: none;
    font-size: 16px;
    padding: 10px;
    border: none;
    background-color: #FDF2E9;
    color: #333;
  }

  #chat-message textarea:focus {
    outline: none;
  }

  #chat-message button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #FFA07A;
    border: gray;
    color: #FFF;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  #chat-message button:hover {
    background-color: #FF7F50;
  }

  #chat-history {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #DDD;
  }

  #chat-history p {
    font-size: 16px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
  }



  #chat-history p .feedback {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }

  #chat-history p .feedback button {
    cursor: pointer;
    background-color: transparent;
  }

  #chat-history p .feedback button:focus {
    outline: none;
  }

  #chat-history p.assistant-text {
    padding-right: 35px;
    background-color: #f0ebebe3;

  }

  #history {
    font-size: 16px;
    color: #333;
  }


  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .button {
    margin: 5px;
  }

  @media (max-width: 480px) {
    .button {
      width: 100%;
    }
  }
</style>
<div id="chat-box">
  <div>
      <input class="form-check-input" type="checkbox" id="quietToggle">
    <label class="form-check-label" for="toggle">Write solo</label>
  </div>
  <div id="title-message">
    <input type="text" id="entryTitle" name="entryTitle" placeholder="Title: {{entry.title}}"
      oninput="submitEntryTitle('{{ entry._id }}')">
  </div>
  <div id="chat-history">
    <div id="history">
      {% for chat in entry.chats[2:] %}
      {% if chat.role=='assistant' %}
      <p class="assistant-text">
        {{ chat.content }}
      </p>
      {% else %}
      <p>{{ chat.content }}</p>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="loading-icon" id="loadingIcon">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>
<div id="chat-message">
  <textarea class="form-control" id="message" autofocus data-entry-id='{{ entry._id }}'></textarea>
  <button class="button" onclick="sendMessage('{{ entry._id }}')">Send</button>
  <div class="button-container">
    <button class="button" onclick="doneFunc('{{ entry._id }}')">Done</button>
    <button class="button" onclick="sendInsights('{{ entry._id }}')">Insights</button>
  </div>
</div>

<script src="{{ url_for('static', filename='chat.js') }}"></script>

{% endblock %}