{% extends "base.html" %}
{% block title %}Personal{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-6 order-1  overflow-auto p-3">
      <h4>In-progress <span class="symbol">&#9998;</span></h4>
      <div class="overflow-auto" style="max-height: 500px;">
      <ul class="list-group">
        {% for entry in in_progress_entries %}
        <li class="list-group-item">
          <div class="row">
            <div class="col"><a href="/chat/{{entry['_id']}}">{{entry['title']}}</a></div>
            <div class="col"><em>{{entry['last_update']|timestamp_to_local_time }}</em></div>
            <div class="col-1" onclick="deleteItem(this, '{{ entry._id }}')">🗑️</div>
          </div>
      </li>
        {% endfor %}
      </ul>
    </div>
    </div>
    <div class="col-6 order-2 text-center">
      <div><p><strong><a href="/chat">Start a new entry</a></strong></p></div>
      <br>
      <img src="data:image/png;base64,{{ wordcloud|b64encode }}" alt="Word cloud">
    </div>
  </div>
<br>
  <div class="content">
    <div class="row">
      <div class="col-6 order-1">
        <h4>Completed <span class="symbol">&#10003;</span></h4>
        <div class="overflow-auto" style="max-height: 500px;">
        <ul class="list-group">
          {% for entry in completed_entries %}
          <li class="list-group-item">
            <div class="row">
              <div class="col"><a href="/past_entries/{{entry['_id']}}">{{entry['title']}}</a></div>
              <div class="col"><em>{{entry['last_update']|timestamp_to_local_time }}</em></div>
              <div class="col-2"><i class="private" onclick="togglePrivacy(this, '{{ entry._id }}')">
                {% if entry['private'] %}Private{% else %}Public{% endif %}
              </i></div>
              <div class="col-1" onclick="deleteItem(this, '{{ entry._id }}')">🗑️</div>
            </div>
        </li>
          {% endfor %}
        </ul>
        </div>
      </div>
    </div>

<script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}
