{% extends "base.html" %}
{% block title %}
    Session
{% endblock %}

{% block content %}
<div>
    <button id="start-btn">Start</button>
    <button id="pause-btn" disabled>Pause</button>
    <button id="stop-btn" disabled>Stop</button>
    <div id="transcript" style="margin-top: 1%;margin-bottom: 1%;"></div>
    <button id="pointers-btn" >Give me pointers</button>
    <button id="notes-btn" >Generate summary note</button>
    <div id="summaryNote" style="margin-top: 1%;margin-bottom: 1%;"></div>
    
    
</div>
<script src="{{ url_for('static', filename='therapy-session.js') }}"></script>
{% endblock %}